include ../mixins/icons

.main
  .control-group
    button#fullscreen-button.icon-button.icon-button--small
      +svg-icon.red.big(svg-icon-name='fullscreen')
    button#settings-button.icon-button.icon-button--small
      +svg-icon.red.big(svg-icon-name='settings')

  canvas#confetti-canvas.confetti

  #lucky-draw
    img.title(src="~@images/logo-levadura-regalona.svg" alt="Logo Banco Guayaquil")
    img.title(src="~@images/auto.png" alt="Celebración")
    p#variable-text.input-label Inicia el sorteo para seleccionar al ganador
    .slot
      .slot__outer
        .slot__inner
          .slot__shadow
          #reel.reel

      #sunburst.sunburst
        img(src="~@images/sunburst.svg" alt="sunburst")
    div#premio-name
    button#draw-button.solid-button Comenzar 🤞🏻

  #settings.settings
  #settings-panel.settings__panel
    div.settings__panel__group
      div.align--right
        a#downloadWinners Descargar datos

      h1.settings__title Configurar
      div.input-group
        label.input-label(for="name-list") Lista de nombres
        textarea.input-field.input-field--textarea(rows="7" placeholder="Cada nombre debe estar en una nueva línea" id="name-list")
      div.input-group
        select#premio.input-field.input-field--select(name="premio")
          option(value="") Seleccionar premio...

      div.input-group.input-group--2-column
        label.input-label(for="remove-from-list") Remover al ganador de la lista
        label.input--switch
          input(type="checkbox" checked="true" id="remove-from-list")
          span.slider

      div.input-group.input-group--2-column.hide
        label.input-label(for="enable-sound") Habilitar sonido
        label.input--switch
          input(type="checkbox" checked="true" id="enable-sound")
          span.slider
    div.settings__panel__group
      button#settings-save.solid-button.solid-button Guardar
      button#settings-close.solid-button.solid-button--danger Cancelar

